.unity-button {
    background-color: rgba(105, 123, 221, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.unity-button:hover {
    background-color: rgb(34, 60, 197);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-property: all;
    transition-duration: 1s;
}
